<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackController</servlet-name>
        <servlet-class>controller.FeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFeedbackDetails</servlet-name>
        <servlet-class>controller.ViewFeedbackDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountController</servlet-name>
        <servlet-class>controller.CreateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAccountController</servlet-name>
        <servlet-class>controller.EditAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAccountDetailsController</servlet-name>
        <servlet-class>controller.ViewAccountDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllAccountController</servlet-name>
        <servlet-class>controller.ViewAllAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerController</servlet-name>
        <servlet-class>controller.CustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateFeedbackController</servlet-name>
        <servlet-class>controller.CreateFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>controller.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFeedback</servlet-name>
        <servlet-class>controller.DeleteFeedback</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackController</servlet-name>
        <url-pattern>/FeedbackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFeedbackDetails</servlet-name>
        <url-pattern>/ViewFeedbackDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountController</servlet-name>
        <url-pattern>/CreateAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAccountController</servlet-name>
        <url-pattern>/EditAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAccountDetailsController</servlet-name>
        <url-pattern>/ViewAccountDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllAccountController</servlet-name>
        <url-pattern>/ViewAllAccountController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controller.SearchController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>
        <url-pattern>/CustomerController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ContractDetailController</servlet-name>
        <servlet-class>controller.ContractDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContractDetailController</servlet-name>
        <url-pattern>/contract-detail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ContractListController</servlet-name>
        <servlet-class>controller.ContractListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContractListController</servlet-name>
        <url-pattern>/contract-list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ContractDeleteController</servlet-name>
        <servlet-class>controller.ContractDeleteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContractDeleteController</servlet-name>
        <url-pattern>/contract-delete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ContractCreateController</servlet-name>
        <servlet-class>controller.ContractCreateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContractCreateController</servlet-name>
        <url-pattern>/contract-create</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ContractEditController</servlet-name>
        <servlet-class>controller.ContractEditController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContractEditController</servlet-name>
        <url-pattern>/contract-edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateFeedbackController</servlet-name>
        <url-pattern>/CreateFeedbackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/DeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFeedback</servlet-name>
        <url-pattern>/DeleteFeedback</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
